<header class="main-header">
    <a class="logo-link" href="/">
        <div class="logo-image-div">
            <img src="/assets/images/website_logo.png" alt="">
        </div>
    </a>
    <div class="navbar-div">
        <nav class="navbar">
            <a href="/" class="navbar-link">Home</a>
            <a href="/about" class="navbar-link">About us</a>
            <a href="/add-research" class="navbar-link">Add Research</a>
            <a href="/researchs" class="navbar-link">My researches</a>
            <a href="/sponsorships" class="navbar-link">Sponsorships</a>
        </nav>
    </div>
    <div class="profile-div">
        <a href="#" class="profile-link">
            <div class="profile-image-div">
                <img src="/assets/icons/user_icon.png">
            </div>
        </a>
    </div>
</header>


