<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    <%- include('./includes/navbar.ejs')%>
    
    <section class="about">
        <div class="about-page-div">
            <div class="about-title-div">
                <h1 class="title">
                    About
                </h1>
            </div> 
            <div class="about-description-div">
                <p class="description">
                    This website is focused on a goal to collect
                    various data about polluted and damaged locations by its users who will get different benefits from this program. <br>
                    Don't miss this opportunity and be part of our team. 
                </p>
            </div>
            <br>
        </div>
    </section>

</body>
</html>