<%- include('./includes/head.ejs') %>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <%- include('./includes/navbar.ejs')%>
    
    <main>
        <section class="green-explorer">
            <div class="text-div">
                <div class="title-div">
                    <h1 class="title">
                        Green 
                        Explorer
                    </h1>
                </div>
                <div class="description-div">
                    <p class="description">
                        Environmental protection
                        prevents natural disasters.
                    </p>
                </div>
                <div class="link-div">
                    <a href="/add-research" class="link">Let's start</a>
                </div>
            </div>
            <div class="image-div">
                <div class="image">
                    <img src="/assets/images/index_page_photo.png" alt="">
                </div>
            </div>
        </section>
    </main>
</body>
</html>