<%- include('./includes/head.ejs') %>
</head>
<body>
    <%- include('./includes/navbar.ejs')%>
    <div class="sponsorship-div">
        <h1 class="sponsorship-title">
            Coming Soon :) 
        </h1>
    </div>
</body>
</html>