.about{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.about-page-div{
    width: 1000px;
}
.title{
    color: white;
    font-size: 25px;
}
.description{
    color: white;
    font-size: 18px;
}